@import "lib/base";

// WebSymbolsLigaRegular
@font-face {
	font-family: 'Web Symbols';
		src: url('../fonts/websymbolsligaregular.eot');
		src: url('../fonts/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/websymbolsligaregular.woff') format('woff'),
			url('../fonts/websymbolsligaregular.ttf') format('truetype'),
			url('../fonts/websymbolsligaregular.svg#websymbols') format('svg');
	font-weight: normal;
    font-style: normal;
}