@import "lib/base";
.sidebar {
	
}
.baron__scrollerbar {
	&:hover,
	&:active {
		background: #d6d6d6;
	}
}
.sidebar.is-hidden {
	left: -367px;
	//@include transition(all 300ms linear);
}
.sidebar-key {
	position: absolute;
	top: 50%;
	right: -21px;
	margin-top: -20px;
	width: 22px;
	height: 40px;
	line-height: 40px;
	background: #fcfcfc;
	border: 0;
	cursor: pointer;
	@include border-radius(0 3px 3px 0);
	i {
		display: inline-block;
		@include sized-sprite($icons, arr2);
	}
}
.sidebar-key.is-active {
	i {
		@include sized-sprite($icons, arr1);
	}
}
.search {
	margin-left: 20px;
	li {
		list-style-type: none;
	}
}
.sticker {
	display: inline-block;
	padding: 7px 9px;
}
.sticker_yellow {
	background: #ffc700;
	color: #fff;
	@include border-radius(4px);
}
.accordion {
	
}
.accordion__title {
	position: relative;
	display: inline-block;
	color: #2c3d51;
	cursor: pointer;
	line-height: 1;
	font-size: 14px;
	border-bottom: 1px dotted;
	i {
		position: absolute;
		left: -14px;
		top: 5px;
		@include sized-sprite($icons, arr3);
	}
}
.accordion__title.is-active {
	i {
		@include sized-sprite($icons, arr4);
	}
}