@import "lib/base";
.sidebar {
	@include transition(all 300ms linear);
	.push {
		height: 140px;
	}
	.catalog {
		margin-bottom: -140px;
		min-height: 100%;
	}
	.footer {
		position: relative;
	}
}
.baron__scrollerbar {
	&:hover,
	&:active {
		background: #d6d6d6;
	}
}
.sidebar.is-hidden {
	left: -367px;
}
.sidebar-key {
	position: absolute;
	top: 50%;
	right: -21px;
	margin-top: -20px;
	width: 22px;
	height: 40px;
	line-height: 40px;
	background: #fcfcfc;
	border: 0;
	cursor: pointer;
	@include border-radius(0 3px 3px 0);
	i {
		display: inline-block;
		@include sized-sprite($icons, arr2);
	}
}
.sidebar-key.is-active {
	i {
		@include sized-sprite($icons, arr1);
	}
}
.search {
	margin-right: 40px;
	margin-left: 20px;
	li {
		list-style-type: none;
	}
}
.sticker {
	display: inline-block;
	padding: 7px 9px;
}
.sticker_yellow {
	background: #ffc700;
	color: #fff;
	@include border-radius(4px);
}
.accordion {
	.h1{
		font-weight: bold;
		font-size: 12px;
		color: #2c3d51;
	}
}
.accordion__title {
	margin-top: 15px;
	position: relative;
	display: inline-block;
	color: #2c3d51;
	cursor: pointer;
	line-height: 1;
	font-size: 14px;
	border-bottom: 1px dotted;
	i {
		position: absolute;
		left: -14px;
		top: 5px;
		@include sized-sprite($icons, arr3);
	}
}
.accordion__title.is-active {
	i {
		@include sized-sprite($icons, arr4);
	}
}
.accordion__body{
	position: relative;
	background: #ecf0f1;
	border-radius: 4px;
	padding: 10px 10px 0 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	&:before{
		position: absolute;
		content: "";
		top: -5px;
		left: 30px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 5px 5px 5px;
		border-color: transparent transparent #ecf0f1 transparent;
	}
	ul{
		margin-bottom: 5px;
		span{
			color: #7f8c8c;
		}
	}
	.btn-success{
		margin: 0 0 0 -10px;
		width: 109%;
		line-height: 30px;
		height: 30px;
	}
}

.search__result{
	li{
		list-style-type: decimal;
		color: #7f8c8c;
		margin-bottom: 20px;
	}
	a{
		color: #96a1a1;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.title{
		color: #2c3d51;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.2;
		margin-bottom: 5px;
		a{
			color: #2c3d51;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.2;
			text-decoration: none;
			border-bottom: 1px dotted;
			&:hover{
				border-bottom: 1px dotted transparent;
			}
		}
	}
}
	.search__result-item{
		color: #000;
	}

	.search__result-info__wrap{
		background: #eff7f6;
		padding: 10px;
		border-radius: 4px;
		margin-bottom: 5px;
		a{
			color: #277eba;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
		.search__result-info{
			margin-bottom: 5px;
		}
	.search__result-description{
		color: #7f8c8d;
		margin-bottom: 5px;
	}
	.search__result-tags{
		color: #7f8c8d;
	}